.container {
  max-width: 1024px;
  margin: 0 auto;
  color: #912a91c3;
}

.board {
  display: flex;
  position:absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  max-width: 600px;
  max-height: 600px;
  margin-left: -15px;
  margin-right: -15px;
  margin-left: -300px;
  margin-top: -300px;
  background-color: #912a91c3;
}

.square {
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 4rem;
  border-color: #912a91c3;
}

.info {
  margin-top: 15px;
  
}

.restart-button {
  float: right;
  color: white;
  width: 140px;
  height: 40px;
  background-color: #912a91c3;
  border: none;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 16px;
}
